html {
  color: red;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Caveat', cursive;
}

#root {
  transform-origin: top left;
}

p {
  margin: 0;
}

.location p {
  margin-bottom: 1em;
}

.buttons p {
  margin-bottom: 0;
}

body, a {
  background-color: lightgray;
  color: black;
}

a:hover {
  border: dashed;
  border-radius: 0.5em;
}

a:active {
  border: dotted;
  border-radius: 0.5em;
}

.author, .title-name, .buttons {
  margin-bottom: auto;
  padding-bottom: 1em;
}

.title-name {
  font-size: 42pt;
}

.buttons div {
  margin-bottom: 0.1em;
}

.buttons {
  min-height: calc(100vh - 12em);
}

.license {
  font-size: 10pt;
  height: 4em;
}

.license a:hover {
  border: none;
  color: darkgray;
}

.license a:active {
  border: none;
  color: darkgray;
}


.contents {
  min-width: 100%;
  min-height: 100%;
  text-align: right;
}

.toolbar {
  font-size: 14pt;
  padding: 5px 5px 0;
}

.toolbar p {
  padding-bottom: 5px
}

.location {
  margin: auto;
  text-align: center;
  max-width: 40em;
  font-size: 24pt;
}

.toolbar a {
  border: 2px;
}
